* {
    margin: 0;
    box-sizing: border-box;
}

/* ---------------- Navbar and burger menu ------------------ */
.menu_class{
    width: 22%;
}


.menu {
    position: fixed;
    width: 22.2%;
    height: 100vh;
    background-color: white;
    top: 0;
    overflow-y: scroll;
    transition:0.4s ease-in-out;
    z-index: 100;
}

/* ------------- sliding menu ------------------ */
.SideBarhidden {
    left: -70%;
}

.visible {
    left: 0;
}

@media (max-width:768px) {
    .menu{
        width: 40%;
    }
}

@media (max-width:520px) {
    .menu{
        width: 60%;
    }
}